@import "tailwindcss";

body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk",sans-serif;

}

*::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

/* Nền thanh cuộn */
*::-webkit-scrollbar-track {
  background: #000000;
}

/* Phần kéo */
*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 6px;
  border: 1px solid transparent;
  background-clip: content-box;
}